.RecipeListPage-header {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.RecipeListPage-header-Recipe{
  display: flex;
  align-items:center;
  color: rgb(1, 1, 41);
}

.RecipeListPage-header h1{
  font-size: 4rem;
}

.RecipeListPage-Reipe-records{
  flex: 1 1 15rem;
}

.RecipeListPage-underHeader-searchButton{
  flex: 12 1 15rem;
}

.RecipeListPage-header-button-link{
  text-align: right;
  flex: 1 1 10rem;
}

.search-input{
  width: 100%;
  border-radius: 2rem;
  padding-left: 1.5rem;
  font-size: 2rem;
  border: 0.1rem solid rgb(1, 1, 41);
}

.search-inpup :active {
  border: 0.3rem solid rgb(10, 10, 197);
}

.RecipeListPage-Filter-section{
  min-height: 4vh;
}

.RecipeListPage-Filter-sortingButton{

  font-size: 1.7rem;
  background-color: white;
  border: 0.1rem solid rgb(40, 167, 69);
  padding:  0.2rem 0.5rem ;
  border-radius: 2rem;
}

.RecipeListPage-Filter-sortingButton:hover{
  background-color: rgb(40, 167, 69);
  color: white;
}

.RecipeListPage-Filter-sortingButton-active{
  font-size: 1.7rem;
  background-color: rgb(40, 167, 69);
  color: white;
  padding: 0 0.5rem ;
  border-top-left-radius : 1.5rem;
  border-top-right-radius : 1.5rem;
  border: 0.1rem solid rgb(40, 167, 69);
}

.RecipeListPage-Filter-sortingButton:active,
.RecipeListPage-Filter-sortingButton-active:active{
  background-color: rgb(18, 84, 33);
  color:white;
}

.RecipeListPage-Filter-2buttons{
  display: flex;
  flex-direction: column;
  width: 20%;
}

.RecipeListPage-Filter-smallest{
  font-size: 1.3rem;
  background-color: white;
  border: 0.1rem solid rgb(40, 167, 69);
  padding: 0 0.5rem ;
  border-top-right-radius : 1.5rem;
}

.RecipeListPage-Filter-biggest{
  font-size: 1.3rem;
  background-color: white;
  border: 0.1rem solid rgb(40, 167, 69);
  padding: 0 0.5rem ;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.RecipeListPage-Filter-smallest:hover,
.RecipeListPage-Filter-biggest:hover{
  background-color: rgb(40, 167, 69);
  color: white;
}

.RecipeListPage-Filter-smallest:active,
.RecipeListPage-Filter-biggest:active{
  background-color: rgb(18, 84, 33);
  color: white;
}
