nav{
  min-height: 12vh;
  background-color: rgb(1, 1, 41);
  display: flex;
  align-items: center;
}


.nav-topings-Name{
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.nav-section {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}

.nav-mainName{
  width: 85%;
}

.nav-cookbook{
  text-decoration: none;

}

.nav-cookbook h1{

  font-size: 4.5rem;
  color: white;
}

.nav-topings,
.nav-recipe {
  text-decoration: none;

}

.nav-topings h3,
.nav-recipe h3 {
  font-size: 2rem;
  color: white;

}
